@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Overpass&family=Turret+Road:wght@800&display=swap&family=Overpass:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    background-color: #fffbe6;
}

.heading {
    font-family: 'Turret Road', cursive;
    font-size: 4rem;
}

.heading-caption {
    font-size: 1.25rem;
}

.navbar {
    font-family: 'Grandstander', cursive;
    background-color: #333333 !important;
    .navbar-brand {
        img {
            width: 120px;
            height: 95px;
        }
        font-size: 1.8rem;
        margin-right: 20px;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
            margin-right: 20px;
        }
    }
}

.dropdown-item {
    &:hover:not(.active) {
        background-color: darkgrey;
        color: white;
    }
    &.active {
        background-color: black;
        color: white;
    }
}


.jumbotron {
    background-color: #86dcf0;
    min-height: 50vh;
    h2 {
        font-size: 2rem;
    }
    img {
        width: 400px;
        height: 50vh;
    }
}

footer {
    background-color: #d6ffb3;
    padding-top: 20px;
}

.dropdown {
    &:hover {
        .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    }
}

.p {
    .row {
        min-height: 40vh;
        div {
            h3 {
                font-size: 2rem;;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}

.p1, .p2, .p3, .p4 {
    opacity: 0;
    transform: translateY(60px);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.p1-a, .p2-a, .p3-a ,.p4-a {
    opacity: 1;
    transform: translateY(0px);
}

.p-link {
    font-size: 1.15rem;
}

.team-name {
    color: red;
    font-size: 1.15rem;
}

.bordering {
    border-bottom: 2px ridge;
}