@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap&family=Architects+Daughter&display=swap&family=Caveat&family=Ubuntu&display=swap');

.dice {
    position: relative;
    min-height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.dice img {
    height: 80%;
    width: 25%;
}
.content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.content .container.game {
    border: 3px solid black;
    background: #debfff;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 15px 0px 20px 0px;
}
#scorebox {
    background: #a9ff94;
    border-radius: 30px;
    color: #ff0073;
    border: 2px ridge;
    box-shadow: 8px 8px darkgrey;
    padding: 10px 0px 0px 0px;
    font-family: 'Fredoka One', cursive;
}
#scorebox h4{
    font-size: 2.5rem;
}   
#scorebox p{
    font-size: 1.5rem !important;
}
p.player-1, p.player-2 {
    font-family: 'Caveat', cursive;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 5rem;
}
button span {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}
#result, #nice, #player-won {
    font-family: Comic Sans Ms, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px floralwhite;
    color: #ff4f30;
}
.modal-body {
    background: #9de884;
}










.face{
    height: 100px;
    width: 100px;
    position: absolute;
}
.face1{
    height: 100px;
    width: 100px;
    position: absolute;
}
.front{
    transform:rotateY(0deg) translateZ(47px);
}
.back{
    transform:rotateY(90deg) translateZ(47px);
}
.right{
   transform:rotateY(180deg) translateZ(47px);
}
.left{
   transform:rotateY(-90deg) translateZ(47px);
}
.top{
    transform:rotateX(90deg) translateZ(47px);

}
.bottom{
     transform:rotateX(-90deg) translateZ(47px);
}

.front1{
    transform:rotateY(0deg) translateZ(47px);
}
.back1{
    transform:rotateY(90deg) translateZ(47px);
}
.right1{
   transform:rotateY(180deg) translateZ(47px);
}
.left1{
   transform:rotateY(-90deg) translateZ(47px);
}
.top1{
    transform:rotateX(90deg) translateZ(47px);

}
.bottom1{
     transform:rotateX(-90deg) translateZ(47px);
}
#cube, #cube1 {
    position: relative;
    min-height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.face{
    height: 100px;
    width: 100px;
    position: absolute;
}
.face1{
    height: 100px;
    width: 100px;
    position: absolute;
}
.front{
    transform:rotateY(0deg) translateZ(47px);
}
.back{
    transform:rotateY(90deg) translateZ(47px);
}
.right{
   transform:rotateY(180deg) translateZ(47px);
}
.left{
   transform:rotateY(-90deg) translateZ(47px);
}
.top{
    transform:rotateX(90deg) translateZ(47px);

}
.bottom{
     transform:rotateX(-90deg) translateZ(47px);
}

.front1{
    transform:rotateY(0deg) translateZ(47px);
}
.back1{
    transform:rotateY(90deg) translateZ(47px);
}
.right1{
   transform:rotateY(180deg) translateZ(47px);
}
.left1{
   transform:rotateY(-90deg) translateZ(47px);
}
.top1{
    transform:rotateX(90deg) translateZ(47px);

}
.bottom1{
     transform:rotateX(-90deg) translateZ(47px);
}